


  <div class="container-sm center">
    <ul class="nav nav-underline">
        <li class="nav-item">
            <a class="nav-link <%if (linkActive === 'Home') {%>  active  <%}%>" aria-current="page" href="/">Home</a>
          </li>
        
        <li class="nav-item">
          <a class="nav-link <%if (linkActive === 'Guestbook') {%>  active  <%}%>" aria-current="page" href="/guestbook">Knjiga dojmova</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link <%if (linkActive === 'Signup') {%>  active  <%}%>" href="/signup">Prijava</a>
        </li>
        
      </ul>
  </div>
  

