<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Include Bootstrap JS (Popper.js and Bootstrap JS) from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <title>Knjiga dojmova</title>
</head>
<body>
    <%- include(`partials/navbar`); %>
    <hr>

    <div class = "container-sm">
        <form action="/guestbook/vulnerability" method="post">
            <h5>Ranjivost</h5>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="ranjivost" id="exampleRadios1" value="1" <%= vulnerabilityON == 1 ? 'checked' : '' %>>
                <label class="form-check-label" for="exampleRadios1">
                Uključeno
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="ranjivost" id="exampleRadios2" value="0" <%= vulnerabilityON == 0 ? 'checked' : '' %>>
                <label class="form-check-label" for="exampleRadios2">
                Isključeno
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Spremi</button>
        </form>
    </div>
    
      
      
      
    <hr>
  
    </form>
    <div class="container-sm">
        <h5>Unesi svoj dojam</h3>
        <form action="/guestbook" method="post">
            
            <div class="form-group">
            <label for="name">Ime</label>
            <input type="text" class="form-control  id="name" name="name" required><br><br>
            </div>

            <div class="form-group">
                <label for="message">Poruka:</label>
                <textarea name="message" id="message" class="form-control" rows="3"></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary">Objavi</button>
        </form>

        <hr>
            <!-- Content here -->
    </div>


   

    <div class="row">
        <% for(let guest of guests){ %>  

        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              
              <% if(vulnerabilityON == 1) { %>
                <h5 class="card-title"><%- guest.name  %></h5>  
                <p class="card-text"><%- guest.message  %></p>
              <% }else { %>
                <h5 class="card-title"><%= guest.name  %></h5>
                <p class="card-text"><%= guest.message  %></p>
                
            <% } %>
            </div>
          </div>
        </div>
        <% } %>
    </div>


</body>
</html>