<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Include Bootstrap JS (Popper.js and Bootstrap JS) from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <title>Signup</title>
</head>
<body>
    <%- include(`partials/navbar`); %>
    <hr>

    <div class = "container-sm">
        <form action="/signup/vulnerability" method="post">
            <h5>Ranjivost</h5>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="ranjivost" id="exampleRadios1" value="1" <%= vulnerabilityON == 1 ? 'checked' : '' %>>
                <label class="form-check-label" for="exampleRadios1">
                Uključeno
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="ranjivost" id="exampleRadios2" value="0" <%= vulnerabilityON == 0 ? 'checked' : '' %>>
                <label class="form-check-label" for="exampleRadios2">
                Isključeno
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Spremi</button>
        </form>
    </div>
    <hr>

    <div class="container-sm">
        <form action="/signup" method="post">
            <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
            <label for="pass" class="form-label">Lozinka</label>
            <input type="password" class="form-control" id="pass" name="pass">
            </div>
           
            <button type="submit" class="btn btn-primary">Prijavi se</button>
        </form>
    </div>

    <hr>

   

      
     
</body>
</html>